.table{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -257px;
    margin-left: -257px;
    
}


.table td {
    width: 60px;
    height: 60px;
    max-width: 60px;
    max-height: 60px;
    background-color: #4dbd6f;
    text-align: center;
    font-size: 2.0vw;
    cursor: pointer;
    
    
}


.list-item{
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    border-bottom: 2px solid #ddd;
}

.list-item > * {
    width: 50px;
    padding: 5px 10px;
    text-align: center;
}





